body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
}

ul{
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

a{
    color: white;
    text-decoration: none;
}

.first-container{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color:#1F2937 ;
    gap: 16px;
    padding: 50px;
}

.content{
 width: 400px;
 margin: 60px 0px;
}

.image-placeholder{
    background-color:  #d1d1e0;
    color: white;
    width: 550px;
    height: 220px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.awesome-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.content > p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0;
}

.button-1{
    padding: 5px 32px;
    background-color: #3882F6;    
    border-radius: 5px;
    border: none;
    color: #f9faf8;
}
/* Second container */
.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.random-info{
    padding: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 15px;
}

.img-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.img-box{
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.text{
    text-align:center;
    width: 160px;
    margin-top: 8px;
    font-size: 18px;
}

